.all-clients{
    .MuiTablePagination-selectLabel {
    margin-bottom : 0px !important;
}
.actions-button-cell { 
    overflow:visible; 
}

.ag-row {
    z-index: 0;
}

.ag-row.ag-row-focus {
    z-index: 1;
}
.button-section{
    display: block;
    padding-bottom: 10px;
    height: 50px;
}
.button-right-section{
    display: inline-flex;
    padding-left: 75%;
    width: 100%;
}
.invoice-search-box{
    width: 100%;
    margin-right: 5px;
}
.all-items-btn{
    margin-right: 10px;
}
}