.view-invoice{
    .col-style{
        height: 95%;
    }
    .invoice-table{
        border-collapse: separate;
        border-spacing: 0 15px;
    }
    .label-col{
        width: 200px;
    }
    .td-style{
        border-bottom: #e0dcdc 1px solid;
    }
}